{
   "presets":[
      [
         "@babel/preset-env",
         {
            "modules":false,
            "useBuiltIns":"entry",
            "targets":{
               "chrome":"70"
            }
         }
      ],
      [
         "@babel/preset-react",
         {
            "useBuiltIns":true
         }
      ]
   ],
   "plugins":[
      [
         "transform-react-remove-prop-types",
         {
            "removeImport":true
         }
      ],
      [
         "@babel/proposal-decorators",
         {
            "legacy":true
         }
      ],
      [
         "@babel/proposal-class-properties",
         {
            "loose":true
         }
      ],
      "@babel/proposal-export-default-from",
      "@babel/proposal-export-namespace-from",
      "@babel/plugin-transform-async-to-generator",
      [
         "@babel/proposal-object-rest-spread",
         {
            "loose":true
         }
      ],
      "@babel/plugin-syntax-object-rest-spread",
      "@babel/proposal-optional-chaining",
      [
         "@babel/proposal-pipeline-operator",
         {
            "proposal":"minimal"
         }
      ],
      "@babel/proposal-throw-expressions",
      "@babel/syntax-async-generators"
   ]
}
